.administracao {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tabela-brinquedos, .tabela-categorias {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid var(--complementary-color);
    border-radius: 1rem;
}

html[data-theme="light"] .tabela-brinquedos, html[data-theme="light"] .tabela-categorias {
    border: 1px solid var(--text-color-light);
}

.tabela-brinquedos td img, .tabela-categorias td img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    height: auto;
}

.tabela-brinquedos td,
.tabela-categorias td {
    border: 1px solid var(--complementary-color);
    padding: 0.5rem;
    text-align: center;
}

html[data-theme="light"] .tabela-brinquedos td,
html[data-theme="light"] .tabela-categorias td {
    border: 1px solid var(--tb-color);
}

.tabela-brinquedos th, .tabela-categorias th {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    border: 1px solid var(--complementary-color);
    padding: 0.5rem 0.6rem;
}

html[data-theme="light"] .tabela-brinquedos th, html[data-theme="light"] .tabela-categorias th {
    border: 1px solid var(--tb-color);
}

.tabela-brinquedos tr, .tabela-categorias tr {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

html[data-theme="light"] .tabela-brinquedos tr, html[data-theme="light"] .tabela-categorias tr {
    color: var(--text-color-light);
    font-weight: 500;
}

#btn-editar-tabela {
    padding: 0.3rem 0.6rem;
    border: none;
    background-color: var(--complementary-color-2);
    color: var(--text-color);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8rem;
}

html[data-theme="light"] #btn-editar-tabela {
    background-color: var(--destaque-color);
}

html[data-theme="light"] #btn-editar-tabela:hover {
    background-color: var(--destaque-color-2);
}

#btn-editar-tabela:hover {
    background-color: var(--complementary-color);
}

#btn-excluir-tabela {
    padding: 0.3rem 0.6rem;
    border: none;
    background-color: var(--comfirm-color);
    color: var(--text-color);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 1rem;
}

#btn-excluir-tabela:hover {
    background-color: var(--comfirm-color-hover);
}

#btn-novo-brinquedo, #btn-nova-categoria {
    width: 12rem;
    height: 2.5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    transition: var(--transition);
}

#btn-novo-brinquedo:hover, #btn-nova-categoria:hover {
    background-color: var(--primary-color-hover);
    gap: 0.8rem;
    transition: var(--transition);
}

#btn-novo-brinquedo i, #btn-nova-categoria i {
    margin-top: 2px;
}

/* ---------------------- POP-UP ESTILIZADO ---------------------- */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-criar-brinquedo {
    width: 50%;
    max-width: 600px;
    background-color: var(--secondary-color);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border: solid 1px var(--complementary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-criar-brinquedo h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

html[data-theme="light"] .modal-criar-brinquedo h2 {
    color: var(--text-color-light);
}

.form-brinquedo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-color);
}

html[data-theme="light"] .form-brinquedo {
    color: var(--text-color-light);
    font-weight: 500;
}

.form-brinquedo label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 0.25rem;
}

html[data-theme="light"] .form-brinquedo label  {
    font-weight: 600;
    color: var(--text-color-light);
}

.form-brinquedo input,
.form-brinquedo select {
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: 1px solid var(--complementary-color);
    background-color: var(--text-color);
    font-size: 0.9rem;
    color: var(--bg-color);
}

html[data-theme="light"] .form-brinquedo input,
html[data-theme="light"] .form-brinquedo select {
    color: var(--text-color-light);
}

.form-brinquedo input::placeholder {
    color: var(--bg-color-2);
    font-size: 0.9rem;
}

html[data-theme="light"] .form-brinquedo input::placeholder {
    color: var(--tb-color);
}

.form-brinquedo button {
    margin-top: 0.5rem;
    width: fit-content;
    padding: 0.4rem 0.8rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn-pesquisar {
    margin-top: 0;
}

.form-brinquedo button:hover {
    background-color: var(--primary-color-hover);
}

.btns-form-brinquedo {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btns-form-brinquedo button {
    width: 9rem;
    height: 2.8rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btns-form-brinquedo button:hover {
    background-color: var(--primary-color-hover);
}

#btn-cancelar {
    background-color: var(--complementary-color-2);
}

#btn-cancelar:hover {
    background-color: var(--complementary-color);
}

html[data-theme="light"] #btn-cancelar:hover {
    background-color: var(--tb-color);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.linha-imagem {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.linha-imagem input {
  flex: 1;
}

.abas-tabelas {
  display: flex;
}
.abas-tabelas button {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.abas-tabelas button.ativo {
  border-bottom: 3px solid var(--primary-color); 
  color: var(--primary-color);
}

html[data-theme="light"] .abas-tabelas button.ativo {
  border-bottom: 3px solid var(--primary-color); 
  color: var(--primary-color);
}

html[data-theme="light"] .abas-tabelas button {
  color: var(--text-color-light);
}
