@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Configurações gerais */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
	--primary-color: #6A0DAD;
	--primary-color-hover: #4a0978;
	--secondary-color: #1E1E2E;
	--complementary-color: #2A2A37;
	--complementary-color-2: #393949;
	--bg-color: #121212;
	--destaque-color: #02F1F1;
	--text-color: #F0F0F0;
	--erro-color: #df0e0e;
	--comfirm-color: #bf0b0b;
	--comfirm-color-hover: #8f0707;
	--transition: 0.3s;
	font-family: "Rajdhani", sans-serif;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

#app {
	display: flex;
	flex-direction: row;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--secondary-color);
	width: 100%;
	height: 6rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-left: solid 1px var(--complementary-color);
	border-bottom: solid 1px var(--bg-color);
	gap: 0.5rem;
}

header h1 {
	padding-top: 0.3rem;
	font-size: 2.8rem;
	color: var(--primary-color);
	cursor: default;
}

#logo {
	padding: 0;
	height: 6rem;
}

#logo:hover {
	background-color: var(--secondary-color);
	cursor: unset;
	border-bottom: solid 1px var(--complementary-color); 
}

#logo i {
	font-size: 3.5rem;
	color: var(--primary-color);
}

nav {
	background-color: var(--secondary-color);
	width: 10rem;
	height: 100vh;
	
}

nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px var(--complementary-color); 
	gap: 0.3rem;
	min-height: 6rem;
	padding: 1.5rem;
}

nav ul li:hover {
	background-color: var(--complementary-color);
	border-bottom: solid 1px var(--secondary-color); 
	cursor: pointer;
}

nav ul li.active {
  background-color: var(--complementary-color);
  border-bottom: solid 1px var(--secondary-color); 
}


nav ul li i {
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.4rem;
}

#logout:hover {
	color: var(--comfirm-color);
}

#logout i {
	font-size: 1.5rem;
	padding-right: 0.4rem;
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* fundo escurecido */
	backdrop-filter: blur(5px); /* efeito de desfoque */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.popup-content {
	width: 26rem;
	background-color: var(--secondary-color);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	border: solid 1px var(--complementary-color);
}

#interrogacao {
	font-size: 3rem;
	color: var(--primary-color);
	height: 5rem;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: solid 2px var(--primary-color);
	text-align: center;
	font-weight: 600;
}

.popup-content p {
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
}

.btns-logout {
	display: flex;
	gap: 1rem;
}

.btns-logout button {
	width: 10rem;
	height: 3rem;
	background-color: var(--primary-color);
	color: var(--text-color);
	border: none;
	padding-top: 2px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btns-logout button:hover {
	background-color: var(--primary-color-hover);
}

#btn-sim {
	background-color: var(--comfirm-color);
}

#btn-sim:hover {
	background-color: var(--comfirm-color-hover);
}

nav ul li p {
	font-size: 1.1rem;
	font-weight: 500;
}


main {
	width: 100%;
	height: calc(100vh - 6.5rem);;
	padding-top: 2.5rem;
	padding-left: 3rem;
	padding-right: 2.5rem;
	overflow-y: scroll;
}

main::-webkit-scrollbar {
	width: 10px;
}

main::-webkit-scrollbar-track {
  width: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  width: 10px;
  border-radius: 10px;
}